.wrapper {
  background-color: #34224f;
  padding: 10px 0;
  border-radius: 10px;
  height: 250px;
  overflow: auto;
}
.item {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  cursor: pointer;

  &:hover {
    background-color: lighten(#34224f, 10%);
  }
}
.icon {
  font-size: 20px;
  margin: 5px 0;
  margin: 0 10px;
}
.title {
  font-size: 16px;
  font-weight: 600;
}
.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  background-color: white;
}
.name {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
}
